{% extends "wide.html.twig" %}

{% block body %}
    <form class="theme-box card-box page-wide-cont-s block-middle" method="POST">
        <div class="main-title card-title"> Password Reset </div>
        <div class="card-cont">
            <input class="main-input card-input block-middle" name="email" type="email" placeholder="email" required>
            <input class="main-input card-input block-middle" name="password" type="password" placeholder="new password" required>
            <input class="main-input card-input block-middle" name="password_repeat" type="password" placeholder="new password (repeat)" required>
        </div>
        <button class="main-button card-button" type="submit" name="submit"> Send Verification </button>
    </form>
{% endblock %}
